.top-page-header{
  height: 5vh;
  width: 100vw;
  background-color: #5E869C;
  position: relative;
}
.logo-img{
  width: 50vw;
  position: absolute;
  top: -9vh;
  left: 25vw;
}


/* PC用WEBデザイン */
@media screen and (min-width: 481px){

  .top-page-header{
    height: 65px
  }
  .logo-img{
    width: 200px;
    top: -70px;
    left: 0;
  }

}