<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">買い物メモ編集</h2>
      <%= form_with model: [@room, @shoppinglist], local: true do |f| %>
        <div class='task-form__field'>
          <%= f.label :content, '内容', class: ''%><br>
          <%= f.text_field :content, class: '', placeholder: 'タスク'%>
        </div>

        <%= f.submit "編集"%>
      <% end %>
    </div>
  </div>
</div>