<%= render "shared/header" %>

<div class="shoppinglist-contents">
  <%= render partial: "shoppinglists/shoppinglist" %>
</div>

<%= link_to room_tasks_path, class: "back-to-index" do %>
  <i class="fa-solid fa-house memo-to-home"></i>
<% end %>
<%= render "shared/footersecond" %>

