<%= render "shared/header" %>

<div class="shoppinglist-contens">
  <h1 class="shoppinglist-content-title">食材メモ</h1>
  <%= link_to "追加", new_room_shoppinglist_path %>
  <div class="shoppinglists">
    <%# メモの表示 %>
  </div>
</div>

<%= render "shared/footer" %>