
.pc-create-task{
  display: none;
}
.task-contents{
  height: 87vh;
  background-color: #E9E5DA;
}
.task-content-title{
  text-align: center;
  border-bottom: 1px dotted;
  font-size: 20px;
}

.total-tasks{
  margin-top: 10px;
}
.total-tasks h2{
  text-align: center;
  font-size: 30px;
}
.ido-link{
  text-emphasis: none;
  color:  #F39B77;
}
.tasks-list{
  margin: 10px 50px;
}
.task{
  background-color: #F9F9F9;
  padding: 8px;
  margin-top: 1vh;
  width: 70vw;
  font-size: 25px;
  position: relative;
  text-align: center;
}
.current-users-tasks{
  margin-top: 10px;
}
.current-users-tasks h2{
  text-align: center;
  font-size: 30px;
}
.done-task-link{
  text-decoration: none;
  color: black;
}
.fa-thumbs-up{
  font-size: 30px;
  position: absolute;
  left: 5vw;
  top: 13px;
  color: #D9D2C3;
}
.task-trash-can{
  font-size: 15px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.delete-task-link{
  text-decoration: none;
  color: black;
}
.partner-tasks{
  margin-top: 10px;
}
.partner-tasks h2{
  text-align: center;
  font-size: 30px;
}

/* PC用WEBデザイン */
@media screen and (min-width: 481px){
  .main-container{
    height: 92vh;
    background-color: #E9E5DA;
    overflow: hidden;
    padding: 20px 30px;
  }
  /* タスク管理 */
  .task-contents{
    float: left;
    overflow: hidden;
    width: 60vw;
  }
  .pc-create-task{
    display: block;
    position: relative;
    text-decoration: none;
  }
  .pc-create-task .fa-plus{
    font-size: 15px;
    padding: 5px 5px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 5px;
    right: -20px;
  }
  /* 未分類タスク */
  .total-tasks{
    margin-top: 10px;
    float: left;
    position: relative;
    width: 25vw;
  }
  .total-tasks h2{
    font-size: 25px;
    color: black;
  }
  .ido-link{
    text-emphasis: none;
    color:  #F39B77;
  }
  .tasks-list{
    margin: 10px 50px;
  }
  .task{
    background-color: #F9F9F9;
    padding: 8px;
    margin-top: 1vh;
    width: 20vw;
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  /* 振分済みタスク */
  .sorted-tasks{
    float: right;
    width: 25vw;
  }
  .current-users-tasks{
    margin-top: 10px;
  }
  .current-users-tasks h2{
    font-size: 25px;
  }
  .done-task-link{
    text-decoration: none;
    color: black;
  }
  .fa-thumbs-up{
    font-size: 20px;
    position: absolute;
    left: 5vw;
    top: 13px;
    color: #D9D2C3;
  }
  .task-trash-can{
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
  .partner-tasks{
    margin-top: 10px;
  }
  .partner-tasks h2{
    font-size: 25px;
  }
  /* 買い物メモ */
  .pc-shoppinglists-contents{
    float: right;
    width: 30vw;
    background-color:#D9D2C3;
  }
  .shoppinglist-content-title{
    text-align: center;
    border-bottom: 1px dotted;
    font-size: 20px;
  }
  .pc-create-shoppinglist-link .fa-plus{
    font-size: 15px;
    padding: 5px 5px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
  }
  .shoppinglists {
    margin: 20px 5vw;
  }
  .shoppinglist{
    background-color: #F9F9F9;
    padding: 8px;
    margin-top: 4vh;
    min-height: 30vh;
    width: 20vw;
    font-size: 20px;
    position: relative;
    text-align: center;
    box-shadow: 3px 3px 5px 0px rgba(184, 173, 160, 1)
  }
  .shoppinglist-created-at{
    font-size: 12px;
  }
  .shoppinglist-text{
    text-align: left;
    margin: 10px 20px;
  }
  
  .delete-shoppinglist-link{
    text-decoration: none;
    color: black;
  }
  .shoppinglista-trash-can{
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  .edit-shoppinglist-link{
    text-decoration: none;
    color: black;
  }
  .fa-pen-to-square{
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}

